.odd{
    background-color: #ffb6c1;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}
#one{
    color: #0000ff;
    font-size: 36px;
}
.odd.diff{
    font-size: 24px;
}
#two{
    background-color: #90ee90;
    font-weight: bold;
    font-size: 24px;
}